@use 'variable' as var;
@use 'mixin' as mix;

.header {
  @include mix.background(100px, 400px, var.$navy);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__container {
    display: flex;
    gap: 10px;
    border: 10px solid var.$white;
    background-color: var.$white;

    @each $index in var.$classNames {
      $index_key: index(var.$classNames, $index);

      .#{$index} {
        background-color: nth(var.$buttonColor, $index_key);
      }
    }
    &__item {
      @include mix.btnSize(40px);
    }
  }
}

main {
  display: flex;
}

.sidebar {
  @include mix.background(250px, 150px, var.$green);
}

.content {
  @include mix.background(250px, 250px, var.$red);
  padding: 45px;
  box-sizing: border-box;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @each $index in var.$classNames {
      $index_key: index(var.$classNames, $index);

      .#{$index} {
        background-color: nth(var.$buttonColor, $index_key);
      }
    }

    &__item {
      @include mix.btnSize(140px);
      outline: 5px solid var.$white;
    }
  }
}

.footer {
  @include mix.background(100px, 400px, var.$brown);
}
